/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /*===== Colores =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 224;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  font-family: var(--body-font);
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: '';
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  position: relative;
  color: #fff;
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav__logo {
  color: var(--second-color);
}

.nav__toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--header-height));
  padding: 0 1rem;
  text-align: center;
}

.home__data {
  align-self: center;
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}

.home__title-color {
  color: var(--first-color);
}

.home__social {
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}

.home__social-icon:hover {
  color: var(--first-color);
}

.home__blob {
  fill: var(--first-color);
}

/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  transition: .3s;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(33, 33, 221);
}


.button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}

/* ===== ABOUT =====*/
.about__container {
  row-gap: 2rem;
  text-align: center;
}

.about__subtitle {
  margin-bottom: var(--mb-2);
}

.about__img {
  justify-self: center;
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin-bottom: var(--mb-4);
}

.about__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 6px solid var(--first-color);
  border-radius: 50%;
  transition: 1s;
}

.about__img img:hover {
  transform: scale(1.05);
  border: 6px solid #fff;
}

.about__img img:hover {
  transform: scale(1.05);
  border: 6px solid #fff;
}

.about__text {
  color: black;
  font-weight: var(--font-semi);
  margin-bottom: var(--mb-4);
}

.about__information, .about__information-contact, .about__information-social {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

/* ===== SKILLS =====*/
.habilidades-container {
  width: 100%;
  height: auto;
  padding: 0px 60px;
}

.skills--container-main {
  display: flex;
  flex-wrap: wrap;
  column-gap: 90px;
  row-gap: 80px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.item-skills {
  width: 60px;
  padding: 10px;
  border-radius: 50%;
  border-radius: 15px;
  color: #263485;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.267);
}

.item-skills:hover {
  transform: scale(1.1);
}

/* ===== WORK =====*/
.work__container {
  row-gap: 2rem;
}

.work__img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.516);
  border-radius: .5rem;
  overflow: hidden;
}

.work__img img {
  transition: 1s;
}

.work__img img:hover {
  transform: scale(1.05);
}

/* Work Hover Effect */
.work__img {
  position: relative;
}

.work__buttons {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  gap: 10px;
  align-items: center;
  color : white;
}

.work__img:hover .work__buttons {
  display: flex;
  flex-direction: column;
}

.work__buttons span {
  font-size: 0.85rem;
  font-weight: var(--font-semi);
  color: white;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0 1rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.work__img:hover img {
  filter: brightness(20%);
  transform: scale(1.05);
}

.btn {
  background-color: var(--first-color);
  color: white;
  font-size: 0.8rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: var(--font-semi);
  font-family: var(--body-font);
}

.btn:hover {
  scale: 0.95;
}


/* ===== CONTACT =====*/
.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}

.contact__button {
  display: block;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  background-color: var(--first-color);
  color: #fff;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  transition: .3s;
  border: none;
  cursor: pointer;
}

.contact__button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
  background-color: rgb(33, 33, 221);
}

/* ===== FOOTER =====*/
.footer {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer__social {
  margin-bottom: var(--mb-4);
}

.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

.footer__copy {
  font-size: var(--smaller-font-size);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem;
  }
  .home__img {
    width: 200px;
  }
}

@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }
  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img {
    width: 300px;
    bottom: 25%;
  }
  .about__container {
    align-items: center;
  }
  .skills__container {
    justify-content: center;
    column-gap: 1rem;
  }
  .work__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }
  .contact__form {
    width: 360px;
    padding-top: 2rem;
  }
  .contact__container {
    justify-items: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--second-color);
  }
  .home {
    padding: 8rem 0 2rem;
  }
  .home__img {
    width: 400px;
    bottom: 10%;
  }
  .about__img img {
    width: 300px;
  }
  .skills__container {
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }
  .work__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 10rem 0 2rem;
  }
  .home__img {
    width: 450px;
  }
}

h2.skills__subtitle {
  text-align: center;
}

.footer__contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__contact p {
  margin: 0 20px;
  font-size: 18px;
}

.footer__contact i {
  font-size: 24px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .footer__contact {
    flex-direction: column;
  }
  .footer__contact p {
    margin: 10px 0;
  }
}

@media screen and (max-width: 576px) {
  .footer__contact {
    flex-direction: column;
  }
  .footer__contact p {
    margin: 10px 0;
  }
}

@media screen and (max-width: 320px) {
  .footer__contact {
    flex-direction: column;
  }
  .footer__contact p {
    margin: 10px 0;
  }
}

.work__icon {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 0.5rem;
  color: var(--first-color);
}

.work__icon i {
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

.idioma {
  position: absolute;
  top: 10%;
  right: 0;
  margin: 1rem;
  font-size: 1rem;
  color: var(--first-color);
}

@media screen and (max-width: 770px) {
  .idioma {
    top: 2%;
  }
}

#espanol {
  color: var(--first-color);
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

#ingles {
  color: var(--first-color);
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

#espanol:hover {
  color: blue;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

#ingles:hover {
  color: blue;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

#html {
  color: red;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

#css {
  color: blue;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

#javascript {
  color: rgb(255, 255, 0);
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

#react {
  color: rgb(0, 255, 255);
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

#nodejs {
  color: rgb(0, 255, 0);
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

#mongodb {
  color: rgb(1, 99, 42);
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

#firebase {
  color: rgb(255, 115, 0);
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

#git {
  color: rgb(255, 0, 0);
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

#github {
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

#sql {
  color: rgb(0, 0, 255);
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

#python {
  color: rgb(10, 124, 177);
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

#java {
  color: rgb(255, 0, 0);
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

#spring {
  color: rgb(0, 255, 0);
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

.item-skills p {
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
  color: black;
}

.home__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.language {
  margin-top: 25px;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  color: var(--first-color);
  border: none;
  background: none;
  cursor: pointer;
}

@media screen and (max-width: 770px) {
  .language {
    top: 2%;
  }
}

/* Qualification Section */

/* Qualification Section */

.qualification-tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--margin-bottom-0-2);
  text-align: center; /* Centra el texto en los botones de pestañas */
}

.qualification-button {
  font-size: var(--small-font-size);
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: hsl(var(--hue-color), 8%, 45%);
}

.qualification-button:hover {
  color: var(--first-color);
}

.qualification-icon {
  font-weight: bold;
  font-size: 1.25rem;
  margin-right: var(--margin-bottom-0-25);
}

.qualification-data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
  align-items: center; /* Centra verticalmente el contenido de la calificación */
  margin-bottom: var(--margin-bottom-0-2);
  text-align: center; /* Centra el texto en las calificaciones */
  font-weight: bold;
}

.qualification-title {
  font-size: var(--normal-font-size);
  font-weight: bold;
  color: navy;
}

.qualification-subtitle {
  display: inline-block;
  font-weight: var(--font-medium);
  font-size: var(--small-font-size);
  margin-bottom: var(--margin-bottom-0-1);
}

.qualification-date {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.qualification-round {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.qualification-line {
  display: block;
  width: 1px;
  height: 20%;
  color: var(--first-color);
  background-color: var(--first-color);
  position: absolute;
  left: 50%; /* Mueve la línea a la mitad del contenedor */
  transform: translateX(-50%); /* Centra la línea horizontalmente */
}

.qualification-container {
  margin: 0 auto; /* Centra el contenedor principal */
}

.qualification-section {
  text-align: center; /* Centra el contenido de la sección de calificaciones */
}

.qualification [data-content] {
  display: none;
}

.qualification-active[data-content] {
  display: block;
}

.qualification-button.qualification-active {
  color: var(--first-color);
}

/* Media Query para dispositivos más pequeños */
@media screen and (max-width: 768px) {
  .qualification-tabs {
    flex-direction: column; /* Cambia la dirección del eje principal a columna para dispositivos más pequeños */
  }

  .qualification-button {
    width: 100%; /* Ocupa el ancho completo en dispositivos más pequeños */
    margin-bottom: 1rem;
  }

  .qualification-icon {
    margin-right: 0; /* Elimina el margen derecho en dispositivos más pequeños */
  }

  .qualification-data {
    grid-template-columns: 1fr; /* Cambia a una columna en dispositivos más pequeños */
  }

  .qualification-round,
  .qualification-line {
    display: none; /* Oculta el punto redondo y la línea en dispositivos más pequeños */
  }
}

.scrollButton {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: transparent;
  color: var(--first-color);
  border: solid 1px var(--first-color);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 1000; /* Asegúrate de que el botón no sea cubierto por otros elementos */
}

.scrollButton i {
  font-size: 20px; /* Ajusta el tamaño del ícono */
}

.scrollButton:hover {
  background-color: var(--first-color);
  color: #fff;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.bounce {
  animation: bounce 1.5s infinite;
}

/* Media Query para dispositivos más pequeños */
@media screen and (max-width: 768px) {
  .scrollButton {
    bottom: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    padding: 5px;
  }
}

